
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font-family: "Poppins", sans-serif */
/* font-family: "Playfair Display", serif */

/* //navBar CSS */
.navbar{
    font-size: 17px;
    font-family:"Poppins", sans-serif;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-show: 0 8px 6px -6px gray;
    border-bottom: 0.3px solid grey;
}

.nav-link{
    font-weight: 300;
}

.active{
    border-bottom: 2px solid black;
}
.navbar-brand{
    font-weight: 700;
    letter-spacing: 3px;

}

/* //////////////Footer//////////// */
.footer{
    background: linear-gradient(to right, #434343, #000);
    color: white;
    padding: 10px;
}
.footp{
    text-align: center;
    margin-top: 3px;
}
.footer a{
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: white;
    
}
.footer a:hover{
    color: aliceblue;
    border-bottom: 2px solid grey;
}

/* /////////////////////Error PNG//////////////////// */
.pnf{
    min-height: 65vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.pnf-title{
    font-size: 100px;
    font-weight: bold;
}
.pnf-heading{
    font-weight: normal;
}
.pnf-btn{
    border: 2px solid gainsboro;
    text-decoration: none;
    padding: 10px 12px;
    color: black;
    margin-top: 10px;
}
.pnf-btn:hover{
    background-color: rgb(217, 230, 225);
    padding: 13px;
    font-size: 22px;
    cursor: pointer;
}

/* ///////////////////////////COntactus///////////////// */
.contact-us{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .con-1{
    display: grid;
    grid-template-columns:756px ;
    margin: 6px;
}

.con-2{
    display: grid;
    grid-template-columns: 768px;
    
} */

/* ///////////////////About////////////// */
.aboutus{
    min-width: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////Register/////////////////// */
.register{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////////product.js/////////////////////// */
.product-link{
    text-decoration: none;
    color: black;
}

/* ////////////////////////////////search form///////////////////////////// */

.search-form {
    margin-right: 10px;
    margin-top: 4px;
  }
  .search-form input {
    border: none;
    border-radius: 0;
  }
  .search-form button {
    background-color: #000000;
    border-radius: 0;
    color: white;
  }

  .btn-cate:hover{
    background-color: rgb(115, 115, 200) !important;
    padding: 8px 15px;
    font-size: 19px;
  }


  .dashboard {
    margin-top: 100px !important;
  }
  
  .dashboard-menu h4 {
    background-color: #434343 !important;
    color: white;
    padding: 20px 0px;
  }